<!-- hw/templates/hw/home.html-->
{% extends 'hw/base.html' %}
{% block content %}
        <h1>About page</h1>
        <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nulla, enim adipisci quis debitis aut commodi dolore dicta consequuntur, similique, non corporis? Molestias sapiente cum, explicabo velit consequatur tempore pariatur distinctio.
        </p>
        <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, a nesciunt ratione animi eum omnis libero quos velit ea similique voluptatem minus consequatur dicta beatae impedit nihil consectetur autem fugiat.
        </p>
{% endblock %}
    