{% extends "quotes/base.html" %}
<!--
File: about.html
Author: Sung Tae Hwang (sthwang@bu.edu), 2026-09-16
Description: Introduce Albert Camus and the website creator.
-->

{% block content %}
<section class="card">
    <h2>About Albert Camus</h2>

    <p>
        Albert Camus (1913–1960) was a French writer and philosopher
        born in Algeria. His works include The Stranger and The Plague.
        His writing explores human existence, freedom, and the absurd.
    </p>

    <h2>About the Creator</h2>

    <p>
        My name is Sung Tae Hwang. This is Assignment 1. This project uses Django views,
        URL routing, HTML templates, and CSS to display quotations
        and images of Albert Camus. <br>I chose this person because he has my favorite quote during my job searching process.
    </p>
</section>
{% endblock %}