{# File: mini_insta/templates/mini_insta/create_post_form.html #}
{# Author: Sung Tae Hwang (sthwang@bu.edu), 10/2/2026 #}
{# Description: Collect a caption and image files for a new post. #}

{% extends 'mini_insta/base.html' %}

{% block content %}
<h2>Create a new post for {{ profile.display_name }}</h2>

<form method="POST" enctype="multipart/form-data"
      action="{% url 'mini_insta:create_post' profile.pk %}">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
        <tr>
            <th><label for="files">Photos:</label></th>
            <td>
                <input type="file" id="files" name="files"
                       accept="image/*" multiple>
            </td>
        </tr>
    </table>
    <p>
        <a href="{% url 'mini_insta:show_profile' profile.pk %}">Return</a>
        <input type="submit" name="submit" value="Post">
    </p>
</form>
{% endblock %}
